$body-bg: #fff;
$main: #b594b3;
$dark: #000;
$light-dark: rgba(0, 0, 0, 0.2);
$light-white: rgba(255, 255, 255, 0.5);

$sidePadding: 28px;

$x-lg: "screen and (min-width: 1620px)";
$lg: "screen and (min-width: 1440px)";
$x-md: "screen and (min-width: 1336px)";
$xs-md: "screen and (min-width: 1064px)";
$md: "screen and (min-width: 976px)";
$sm: "screen and (min-width: 768px)";
$x-sm: "screen and (min-width: 576px)";
$xx-sm: "screen and (min-width: 375px)";
